.container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  flex: 3;
}

aside {
  flex: 1;
  background-color: #ffffff;
  padding: 1.5rem;
  border: 1px solid #d6dee3;
  border-radius: 10px;
  margin-right: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 4.3rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

aside h3 {
  font-size: 1.25rem;
  color: #010f01;
  margin-bottom: 1rem;
}

aside ul {
  list-style: none;
  padding-left: 15px;
}

aside ul li {
  margin-bottom: 0.75rem;
}

aside ul li a {
  text-decoration: none;
  color: #363a3f;
  font-weight: 500;
  transition: color 0.3s;
}

aside ul li a:hover {
  color: #028a22;
}

section {
  margin-bottom: 3rem;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-margin-top: 100px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  color: #1c3c3c;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #4caf50;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  color: #1d3557;
}

p {
  font-size: 1rem;
  color: #343a40;
  margin-bottom: 1rem;
}

ul,
ol {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}

ul li,
ol li {
  margin-bottom: 0.6rem;
  line-height: 1.6;
}

ul li::marker {
  color: #4caf50;
}

code {
  font-family: "Courier New", monospace;
  background-color: #f0f0f0;
  color: #b30038;
  padding: 2px 6px;
  font-size: 0.9rem;
  border-radius: 6px;
}

.student {
  text-align: center;
  background: rgba(1, 255, 136, 0.566);
  color: #fff;
  font-weight: bold;
  padding: 0.75rem;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 0%;
  margin-bottom: -0.5rem;
}

.refs {
  margin-bottom: 15px;
  display: block;
  text-align: left;
}
