section {
  scroll-margin-top: 90px;
}

.container {
  display: flex;
  max-width: 1500px;
  margin: 0 6rem;
}

.content {
  padding: 0 2rem 0 3rem;
}

.content-h {
  margin: 1rem 2rem;
  padding: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(77, 71, 71, 0.1);
}

.content-h h2 {
  color: #09b44b;
}

.content h2 {
  color: #2b2a2ae5;
}

.content p {
  margin-top: 0.5rem;
}

hr {
  border: 1.2px solid #09b44b;
  margin: 0.6rem 0 1.4rem;
}

.content h3 {
  font-size: 1.4rem;
  color: #09b44b;
}

aside {
  top: 90px;
  height: 100vh;
  width: 300px;
  padding: 24px 20px;
  margin-bottom: 20px;
  scroll-behavior: smooth;
  position: sticky;
  flex-shrink: 0;
  border-radius: 15px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.sidebar-validation ul li {
  padding: 0.5rem 0;
}

aside ul {
  padding: 0 1rem;
}

aside ul li a {
  color: black;
}

aside ul ul {
  padding: 0 0.8rem;
  margin: 0.8rem 0;
}

aside ul ul li {
  list-style: none;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

aside ul ul li a {
  color: #555;
}

aside ul ul li:hover {
  background: #f0f4ff;
  color: #1a73e8;
}

.content ul {
  margin: 1rem;
}

.content li {
  color: #5a5a5a;
  line-height: 1.6;
  margin-bottom: 0.6rem;
}

.content li::marker {
  color: #4caf50;
}

#ref ul {
  margin: 0;
}

#ref li {
  margin-bottom: 1rem;
  list-style: none;
  color: #424040;
}

#ref li a {
  color: #4d4c4cd8;
}

#ref li a:hover {
  color: #777777d8;
}

code {
  background-color: #f0f0f0;
  color: #b30038;
  padding: 2px 6px;
  font-size: 1rem;
  border-radius: 6px;
}

.content img {
  width: 90%;
  margin: 0 auto 2rem;
}
